<div class="container p-5">
  <div class="row media">
    <div class="col-md-3">
      <img src="https://lh3.googleusercontent.com/LWCSC31kc8cCpFmbPW3CM8TFMcegwwE0I7puDqxHbS5ISdgl8kR_9g74yQf-YRc8j6Cs_ACKum2es65RI9IHMQ6NyOW7DOoi0KGarz8gUAvRRmT8hE5wMVnxhALmCYRwnho9Pdw3GW0NHy6rB7Y0J8odez-ksxg1eX15kKy3KRyl34cprgXe8IyB0uqbyeZ7J9lTwVQWjuZtFD4tiOnRxN8jvYUdYbm5rKKgPFAaRdn1kilqN9Mf4WProtvP07Kbc6SK7FYcu0aBTZ54hQJj4xfNfl6E6-z1-vbAfCLo23Pq1nfCxa5j5B98I0-hnnGvbs_jvm82vGgqTul-jLSrosF_b4XG2NcBEg311B4jbiKG6PAO1qWWaAuc8pwI4ewK_QSGexlqKGYgcnqvEWdieJe7JZDbWPXuh_a0xovG88bpt-T5LPoDmpUEWujIvKwsirUyO9x6A5Tg7Rfl6a_xGvuD8QCH6wQRM0AvG2DoJ9VWH1avpMyIv6sAsDZ8dYUmfYDoaMXBNKiULfTaZGjR-pczhGlKaGfff2Xyf0LMela6A47_YHXP65Ec_jlCJ3i3udCySbry4JXmBkysO4Ej-d5yNJRWzwBeCd2qRSMH0AhzbQA4dKari0UnlAcdOuxzfWeEndziAw5u9Z4bqI9ohpqSB8LI3ZLkICGLqCJaYqxQ5GI7ps2Bp06-wg0epg=w586-h920-no?authuser=0" class="mr-3 w-100 rounded-circle"
          style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
    </div>
    <div class="col-md-11 media-body">
      <h1 class="text-left blog-footer-title">Hi, I'm Sky<br/>(Nomad Coder)!</h1>
      <p class="text-left mt-2">디지털 노마드를 꿈꾸는 프론트엔드 개발자입니다.</p>
    </div>
  </div>
</div>
